body{
    
    background-color: #f7f0e8; 
    
}

div.team{
    width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  
}
div.teammeate{
    border-radius: 350px;
  width: 250px;
    display: inline-block;
   
}
img{
    width: 150px;
    border-radius:50%;
    vertical-align: top;
}
